* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body,
html {
  background-color: rgb(224, 246, 255);
  color: #1a1765;
}
img {
  width: 100%;
}

/*-----------------------------------------------------Background-----------------------------------------------*/
div#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: rgb(224, 246, 255);
  background: linear-gradient(
    180deg,
    rgba(224, 246, 255, 0) 0%,
    rgba(224, 246, 255, 1) 40%,
    rgba(224, 246, 255, 1) 60%,
    rgba(224, 246, 255, 0) 100%
  );
}
/*----------------------------------------------------------Images--------------------------------------------------*/
img#bg {
  position: absolute;
  bottom: 0px;
  opacity: 10%;
}
img#bg-top {
  position: absolute;
  top: 0px;
  opacity: 10%;
  transform: rotate(180deg);
}
img#logo {
  width: 15%;
}

/*---------------------------------------------------------Content--------------------------------------------------*/
h1 {
  font-family: "Inconsolata", monospace;
}
div.container-fluid {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.row {
  background-color: rgb(229, 243, 249);
  padding: 55px 15px 0 15px;
}
#welcome {
  display: inline;
}

.t1,
button,
input {
  border: 2px solid #1a1765;
  border-radius: 3px;
}
button,
input {
  background-color: white;
}
input#adjective {
  width: 15vh;
}
input#subject {
  width: 19vh;
}
button:hover {
  color: rgb(224, 246, 255);
  background-color: #3d8edb;
}
#response {
  background-color: white;
  width: 39vw;
  overflow: hidden;
  max-width: 64vw;
  min-height: 17vh;
}
div.joke {
  padding-top: 15px;
}
div.footer {
  padding: 15px 0;
  font-size: small;
}
a {
  color: #3d8edb;
}
a:hover {
  color: #1c5f9e;
}

#mobile-btn {
  display: none;
}
a#jokes {
  border: 2px solid #1a1765;
  padding: 3px;
  border-radius: 3px;
  background-color: #3d8edb;
  color: rgb(224, 246, 255);
  text-decoration: none;
}
a#jokes:hover {
  background-color: #1f609c;
}
button#jokes > a {
  color: rgb(224, 246, 255);
  text-decoration: none;
}
button#jokes > a:hover {
  color: #3d8edb;
}
/*----------------------------------------------------Make Responsive---------------------------------------------*/
@media screen and (max-width: 900px) {
  #response {
    background-color: white;
    width: 70vw;
    overflow: hidden;
    max-width: 80vw;
    min-height: 17vh;
  }
}

@media screen and (max-width: 750px) {
  #response {
    background-color: white;
    width: 89vw;
    overflow: hidden;
    max-width: 91vw;
    min-height: 17vh;
  }
}

@media screen and (max-width: 500px) {
  img#logo {
    width: 30%;
  }
  div#background {
    display: none;
  }
  .container-fluid {
    overflow: hidden;
    height: auto !important;
  }
  div.row {
    padding: inherit;
    margin: none;
    border: none;
    background-color: transparent;
  }
  .header {
    display: flex;
    flex-direction: column !important;
  }
  img#bg,
  img#bg-top {
    display: none;
  }
  input#adjective {
    width: 12vh;
  }
  input#subject {
    width: 13vh;
  }
  #desktop-btn {
    display: none;
  }
  #mobile-btn {
    display: flex;
    justify-content: center;
  }
  #mobile-btn button {
    background-color: #3d8edb;
    color: rgb(224, 246, 255);
  }
  #mobile-btn button:hover {
    background-color: #265683;
  }
  #logo {
    margin: 0;
  }
  .footer {
    padding-top: 22px !important;
  }
  #response {
    width: 85vw;
    max-width: 85vw;
  }
}
